<footer class="footer">
<mat-toolbar class="footer-toolbar">
  <span class="example-spacer"></span>
  <section>
    <a href="https://www.facebook.com/DARAinyd">
      <button mat-button class="footer-btn">
        <img src="../../../../assets/DARA/icon/Logo-Facebook.png" alt="">
      </button>
    </a>
    <a href="https://www.instagram.com/dara_empresa">
      <button mat-button class="footer-btn">
        <img src="../../../../assets/DARA/icon/Logo-Instagram.png" alt="">
       </button> 
    </a>
    <a href="https://www.linkedin.com/in/dara-ingenieria-arquitectura-y-dise%C3%B1o-9624581b9/">
      <button mat-button class="footer-btn">
        <img src="../../../../assets/DARA/icon/Logo-Linkeding.png" alt="">
       </button> 
    </a>     

  </section>    
  <span class="example-spacer"></span>

  <p class="p-footer">WATHSAPP : +57 3144345631</p>

  <section class="rights-footer">
    <p class="p-footer">© DARA  2021 All Rights Reserved.</p>
  </section>
</mat-toolbar>
</footer>
