footer img{
    width: 20%;
    height: 20%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .footer-toolbar{
    background-color: #cc5e49;
  color: white;
  }
  
  .footer {
  width: 100%;
  
  }
  
  .footer-btn {
  width: 30%;  
  }
  
  
  